Repository web4bio/webgen, pull requests merged in 2021-04, with the labels that each got.

#224 Dynamic checking for continuous data
  main/js/plots/createPieCharts.js
Labels: javascript

#255 Update html pages
  main/html/about.html
  main/html/index.html
Labels: html

#259 Update app cosmetics
  main/css/style.css
  main/html/index.html
  main/js/afterSubmit.js
Labels: css, html, project maintenance
